*{
    margin: 0;
    padding: 0;
}
body {
    background-image: url('images/naruto.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.hidden {
    display: none;
}
.burgerCard {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px; /* Largeur de la carte */
    background-color: #1e3a56; /* Couleur de fond bleu foncé */
    border-radius: 10px; /* Coins arrondis */
    padding: 20px; /* Espacement interne */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Ombre */
    opacity: 0; /* Début invisible */
    transition: opacity 0.5s ease; /* Animation d'opacité */
}

.burgerCard.visible {
    opacity: 1; /* Rend visible */
}

.card {
    color: rgb(255, 255, 255); /* Couleur du texte */
    position: relative;
}

.container {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-top: 20px;
}


#pointsDisplay {
    position: relative;
    top: 0;
    left: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 5px;
}